.add-remove{
    text-align: center;
    margin-top: 50px;
}
.add, .remove{
    display: inline-block;
    height: 50px;
    width: 100px;
    font-size: large;
}
.add{
    background-color: lightgreen;
    margin-right: 30%;
}
.remove{
    background-color: red;
}