:root{
    --grid-color: #D9D9D9D9;
    --sub-grid-height: 360px;
    --sub-grid-box-height: 120px;
}
.grid, .sub-grid, .grid2{
    display: grid;
}
.grid, .grid2{
    background-color: var(--grid-color);
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
}
.sub-grid{
    border: 5px black solid;
    width: var(--sub-grid-height);
    height: var(--sub-grid-height);
    grid-template-columns: auto auto auto;

}
.sub-grid-box{
    height: var(--sub-grid-box-height);
    width: var(--sub-grid-box-height);
    border: 1px black solid;
    font-size: xx-large;
}
#max, #submit-max-number{
    float: right;
 
}
#max{
    width: fit-content;
    font-size: x-large;
}